* {
    box-sizing: border-box;
}

.main {
    background: url(../img/star-wars-space.jpg);
    height: 100vmin;
    background-size: cover;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffc600;
}

.track {
    display: grid;
    align-items: center;
    width: 1450px;
    height: 1800px;
    justify-content: center;
    margin: 0 auto;
    text-align: justify;
    font-size: 80px;
    font-weight: bold;
    transform: perspective(250px) rotateX(35deg);
    animation: StarWars 30s linear;
    animation-iteration-count: infinite;
}

.track h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 100px;
}

.track h3 {
    text-align: center;
    margin-bottom: 75px;
}

.track p {
    margin-bottom: 100px;
}

@keyframes StarWars {
    0% {
        transform: perspective(250px) rotateX(20deg) translateY(600px);
    }

    100% {
        transform: perspective(250px) rotateX(20deg) translateY(-2000px);
    }
}